{% extends 'base.html' %}

{% block content_amazon %}

<h2>
  Listed Products -
</h2>

<p>
    <a target="_blank" href="https://www.amazon.in/gp/search?ie=UTF8&tag=stopandbuy20a-21&linkCode=ur2&linkId=f77f3a837904068e0c3bb71357b9ffd9&camp=3638&creative=24630&index=aps&keywords=Multimeter">List of multimeters</a><img src="//ir-in.amazon-adsystem.com/e/ir?t=stopandbuy20a-21&l=ur2&o=31" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</p>

<p>
  <a target="_blank" href="https://www.amazon.in/gp/search?ie=UTF8&tag=stopandbuy20a-21&linkCode=ur2&linkId=adc8121c2c4db6544c4829a0d9c8b881&camp=3638&creative=24630&index=books&keywords=machine learning ">Machine Learning Books</a><img src="//ir-in.amazon-adsystem.com/e/ir?t=stopandbuy20a-21&l=ur2&o=31" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</p>




<p>
  <a target="_blank" href="https://www.amazon.in/gp/search?ie=UTF8&tag=stopandbuy20a-21&linkCode=ur2&linkId=da2d8b1c9376d4d842fe2545276438ec&camp=3638&creative=24630&index=books&keywords=books">Best Books on Amazon!</a><img src="//ir-in.amazon-adsystem.com/e/ir?t=stopandbuy20a-21&l=ur2&o=31" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</p>

<p>
    StopAndBuy is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.in
</p>

{% endblock %}
