{% extends 'base.html' %}

{% block content_amazon %}
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=stopandbuy20-21&marketplace=amazon&region=IN&placement=B07RRHKFYC&asins=B07RRHKFYC&linkId=28323733aedc3cfefdb1e1096f7a6623&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>

<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=stopandbuy20-21&marketplace=amazon&region=IN&placement=B07Q32BXDH&asins=B07Q32BXDH&linkId=326d144111c98198f8687e0cd7043d85&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
{% endblock %}
