{% extends 'base.html' %}
{% block styles %}
<style>
.jumbotron{
  text-align: centre;
}
</style>
{% endblock %}


{% block jumbotron%}
<div class="jumbotron">
  <h1>A new experience to Shopping.</h1>
  <h2>Beyond Customer Reviews...</h2>
</div>

<h2> Search a product below to know the Customer satisfaction for the product!</h2>

<div class = "container">
  <form method = "post">
    {% csrf_token %}
    {{form.post}}
    <br>
    <button type = "submit">Search</button>
  </form>
  <h2>Customer satisfaction score for {{ text }} is {{oneProduct}}%</h2>

  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}

.container1 {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: blue;
}

.html {width: {{oneProduct}}%; background-color: #3eb859;}
</style>
<body>

<p>{{text}}</p>
<div class="container1">
  <div class="skills html">{{oneProduct}}%</div>
</div>

</body>
</div>
<script type="text/javascript" language="javascript">
      var aax_size='300x600';
      var aax_pubname = 'stopandbuy20a-21';
      var aax_src='302';
    </script>
    <script type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script>

<p>
    StopAndBuy is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.in
</p>

{% endblock %}

{% block googleAds%}
<script data-ad-client="ca-pub-5353282080890331" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script>


{% endblock %}
