{% extends 'base.html' %}
{% block styles %}
<style>
.jumbotron{
  text-align: centre;
}
</style>
{% endblock %}


{% block jumbotron%}
<div class="jumbotron">
  <h1>A new experience to shopping on Amazon</h1>
</div>

<h2> Check the <a href = "ebay">ebay page</a> for ebay search. </h2>
<h1> Check the <a href="amazon">amazon page</a> to shop a few more interesting products from amazon!</h1>
<p> Stay tuned for an amazing Search experience on amazon!</p>

<h1>The future of this website - </h1>
<h3>Lets say you wanted to buy the Samsung Galaxy S20</h3>
<h3>A search for the Galaxy S20 would have looked like this -</h3>
<img src = https://m.media-amazon.com/images/I/81snLg55xeL._AC_UY218_.jpg>
<a target="_blank" href="https://www.amazon.in/gp/product/B08445DF23/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=B08445DF23&linkCode=as2&tag=stopandbuy20a-21&linkId=7e4d3b6b64558043045bc5a399ec3270">Samsung Galaxy S20 (Cosmic Gray, 8GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers</a><img src="//ir-in.amazon-adsystem.com/e/ir?t=stopandbuy20a-21&l=am2&o=31&a=B08445DF23" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<h3>Source 1 Score: 83.3% </h3>
<h3>Source 2 Score: 95%</h3>
<h3>Price</h3>
{% endblock %}

{% block googleAds%}
<script data-ad-client="ca-pub-5353282080890331" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script>

<p>
    StopAndBuy is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.in
</p>
{% endblock %}
