{% extends 'base.html' %}
{% block styles %}
<style>
.jumbotron{
  text-align: centre;
}
</style>
{% endblock %}


{% block jumbotron%}
<div class="jumbotron">
  <h1>StopAndBuy</h1>
  <p>Coming Soon....</p>
</div>

<p> Check the ebay page for ebay search. </p>
<p> Check the amazon page to shop a few interesting products.</p>
<p> Stay tuned for an amazing Search experience on amazon!</p>

{% endblock %}

{% block googleAds%}
<script data-ad-client="ca-pub-5353282080890331" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script>

{% endblock %}
